# website2 configuration

server {
    listen 82;
    server_name Arjun.com;

    location / {
        # Configuration for website2
        root /var/www/html/Arjun;
        index index.html;

    }
}
