# website1 configuration

server {
    listen 81;
    server_name Vikas.com;

    location / {
        # Configuration for website1
        root /var/www/html/Vikas;
        index index.html;

    }
}i
